@mixin font-xs {
  font-size: 12px;
}
@mixin font-sm {
  font-size: 14px;
}
@mixin font-md {
  font-size: 15px;
}
@mixin font-lg {
  font-size: 18px;
  line-height: 1.5;
}
@mixin font-xlg {
  font-size: 20px;
  line-height: 1.5;
}
