@import "resources/sass/variables";
.todo-filter label {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
  width: 263px;
  // height: 60px;
  min-height: 60px;
  position: relative;
  margin-left: 12px;
  margin-top: 17px;
  margin-bottom: 0px;
}
.todo-filter label p {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 11px;
  color: #ccc;
  font-weight: 200;
}
//   .todo-filter label select,.todo-filter label .multiselect {
//     // position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     // height: 60px;
//     border-radius: 15px;
//     border: 0px;
//     background: transparent;
//     padding-top: 16px;
//     padding-left: 5px;
//   }
//   .todo-filter label .multiselect__select
//   {
//     display: none !important;
//   }
.todo-filter label .multiselect__tags {
  padding: 10px 0px 0px;
  padding-right: 0px !important;
  margin: 0px;
  border-radius: 10px;
  border: 0px;
  // height: 61px;
  background: transparent;
}
.todo-filter label .multiselect__tag {
  background: transparent;
  border: 0px;
  color: #000;
}
.todo-filter label .multiselect__tags-wrap {
  overflow: hidden;
  display: block;
  margin-top: 21px;
}
.todo-filter label .multiselect__tags-wrap .multiselect__input {
  border: 0px !important;
  background: transparent !important;
}
.todo-filter label .multiselect__tags-wrap .multiselect__tag-icon:hover {
  background: transparent;
  color: $theme-color-dark !important;
}

.rounded-0 .multiselect__tags {
  border-radius: 0px !important;
}

.todo-box .multiselect__tag {
  background: transparent;
  color: #000;
  padding-top: 7px;
}
.todo-options .multiselect__input:focus {
  border: 0px !important;
}

.todo-options .custom-control-label {
  font-size: 14px;
}
.todo-options .priority {
  padding: 15px;
  border: 1px solid;
}
.todo-options .custom-control-input:checked ~ .priority {
  color: blue;
}
.todo-options .todo-priorities label {
  float: left;
  padding: 12px 14px;
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 11px !important;
}
.todo-options .todo-priority {
  float: left;
}
.todo-options .custom-radio.b-custom-control-lg,
.todo-options .input-group-lg .custom-radio {
  margin-left: 0px !important;
  padding-left: 0px !important;
}
.todo-listing .collapsed-card [data-card-widget="collapse"] .fas:before {
  content: "\f106";
}

.todo-listing .collapsed-card [data-card-widget="collapse"] .fas:before {
  content: "\f107";
}
.todo-list .media-body:hover,
.media-body:active {
  background: #fff !important;
}
.todo-list .media-body {
  padding-top: 10px;
  padding-bottom: 10px;
}
.font-reguler {
  font-weight: 100 !important;
}
.todo-list label {
  font-size: 12px !important;
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropdown-menu-lg p:focus {
  color: #000;
}
.schedule .mx-datepicker-popup {
  left: 20px !important;
  top: 20px !important;
}
.schedule-picker input {
  background: transparent;
  color: transparent !important;
  border: 0px;
  opacity: 1;
}
.schedule-picker i {
  font-size: 16px !important;
  position: absolute;
  z-index: 999;
  left: unset;
  padding-left: 12px;
  padding-top: 2px;
}
.schedule-picker .fa-calendar-alt:before {
  margin-top: 8px;
  z-index: -1;
  position: absolute;
  margin-left: -19px;
}
.todo-nav li a.active {
  font-family: font-bold;
}
.todo-nav li a{
  font-size: 12px !important;
}
.med-line-height{
  line-height: 1.5;
}